BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 0
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Attach